<!DOCTYPE html>
<html>

<head>
<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <h1>Home</h1>
    <h2>Recipes by Rock Paper Scissors</h2>
</head>

<body>
     <nav class="navbar navbar-expand-sm fixed-top" style="background-color: #e3f2fd;">

      <div class="container-fluid">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Random Recipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Specfic Recipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cocktail</a>
          </li>
        </ul>
        

      </div>
     <a class ="navbar-brand" href="#"> User Profile</a>
    <a class ="navbar-brand" href="#">Logout</a>
    </nav>
    <br>
    <br>
    <p>Recipe for the Day</p>
    <img src="{{img_src}}">
    <a href={{url}}><h2>{{recipe_title}}</h2></a>
</body>

</html>