<!DOCTYPE html>
<html>

  <head>
    <title> REGISTER YOUR BEAUTIFUL INFO HERE :) </title>
  </head>

  <body>
    <h1>
      REGISTER:
    </h1>


    <h3>
      Enter your desired username and password below to become the ultimate foodie.
    </h3>
    <h4>
      {{error}}
    </h4>
    <form action="/register" method="post">
      Username: <input type="text" name="username"> </br>
      Password: <input type="text" name="password"> </br>
      <input type="submit" name="sub1">
    </form>
    <br>
    <h5>Please Check the allergies that apply to you</h5>
    <form action="/register">
  <input type="checkbox" id="allergy1" name="Crustacean" value="crustacean">
  <label for="allergy1"> Crustacean</label><br>
  <input type="checkbox" id="allergy2" name="Dairy" value="dairy">
  <label for="allergy2"> Dairy</label><br>
  <input type="checkbox" id="allergy3" name="Egg" value="egg">
  <label for="allergy3"> Egg</label><br>
  <input type="checkbox" id="allergy4" name="Fish" value="fish">
  <label for="allergy4"> Fish</label><br>
  <input type="checkbox" id="allergy5" name="Gluten" value="gluten">
  <label for="allergy5"> Gluten</label><br>
  <input type="checkbox" id="allergy6" name="Peanut" value="peanut">
  <label for="allergy6"> Peanut</label><br>
  <input type="checkbox" id="allergy7" name="Sesame" value="sesame">
  <label for="allergy7"> Sesame</label><br>
  <input type="checkbox" id="allergy8" name="Shellfish" value="shellfish">
  <label for="allergy8"> Shellfish</label><br>
  <input type="checkbox" id="allergy9" name="Soy" value="soy">
  <label for="allergy9"> Soy</label><br>
  <input type="checkbox" id="allergy10" name="Treenut" value="treenut">
  <label for="allergy10"> Treenut</label><br>
  <input type="checkbox" id="allergy11" name="Wheat" value="wheat">
  <label for="allergy11"> Wheat</label><br>
  
  <input type="submit" value="Submit">
</form>
  </body>
</html>



